<div id=commentList>
<p>
  <%= comment.customer_name %> <%= comment.time %>
</p>

<p>
  <b>Star:</b>
  <%= comment.star%>
</p>

<p>
  <b>Description:</b>
  <%= comment.description %>
</p>
</div>