<h3>Pragmatic Order <%= @state %></h3>
<p>We sent this email to let you know that we've <%= @state.downcase %> your recent order :</p>

<%= render :partial => "orders/order_in_mail", :object => @order %>

<p>We'll send you an e-mail if your order is shipped or amended and you can view your order status <%= link_to 'here', present_order_url(@order, :locale=>I18n.locale) %>&nbsp;at anytime.</p>