<h3>Dear <%= @order.name %></h3>
<p>Thank you for your recent order from The Pragmatic Store.</p>

<p>Here is your <%= link_to "Order# #{@order.id}", present_order_url(@order, :locale=>I18n.locale) %> :</p>

<%= render :partial => "orders/order_in_mail", :object => @order %>

<p>We'll send you a separate e-mail when your order ships and you can view your order status <%= link_to 'here', present_order_url(@order, :locale=>I18n.locale) %>&nbsp;at anytime.</p>