/* Global styles */

#store #notice {
        color: #000;
        border: 2px solid red;
        padding: 1em;
        margin-bottom: 2em;
        background-color: #f0f0f0;
        font: bold smaller sans-serif;
}


#store h1 {
        font:  150% sans-serif;
        color: #226;
        border-bottom: 3px dotted #77d;
}

/* Styles for products/index */

#product_list table {
        border-collapse: collapse;
}

#product_list table tr td {
        padding: 5px;
        vertical-align: top;
}

#product_list .list_image {
  width:        60px;
  height:       70px;
}

#product_list .list_description {
  width:        60%;
}

#product_list .list_description dl {
        margin: 0;
}

#product_list .list_description dt {
	color:        #244;
	font-weight:  bold;
	font-size:    larger;
}

#product_list .list_description dd {
        margin: 0;
}

#product_list .list_actions {
  font-size:    x-small;
  text-align:   right;
  padding-left: 1em;
}

#product_list .list_line_even {
  background:   #e0f8f8;
}

#product_list .list_line_odd {
  background:   #f8b0f8;
}

/* START:mainlayout */
/* Styles for main page */

#banner {
	height:134px;
    background:url() no-repeat scroll 0 0 transparent;
    max-width:1258px;
    min-width:980px;
    margin:0 auto;
    padding-bottom: 10px;
    border-bottom: 2px solid;
    font: small-caps 40px/40px "Times New Roman", serif;
    color: black;
    text-align: center;
}

#banner img {
  float: left;
}

#columns {
  background: #141;
}

#main {
  margin-left: 17em;
  padding-top: 4ex;
  padding-left: 2em;
  background: white;
}

#side {
  float: left;
  padding-top: 1em;
  padding-left: 1em;
  padding-bottom: 1em;
  width: 16em;
  background:#FFFFFF;
}

#side a {
  color: #000066;
  font-size: small;
}
/* END:mainlayout */

/* An entry in the store catalog */

#store{
	background:url(/images/bg0.png) repeat-x scroll 0 0 #f0f5f5;
    border-bottom:1px solid #d9dede;
}
#store  .entry {
  overflow: auto;
  margin-top: 1em;
  border-bottom: 1px dotted #77d;
}

#store  .title {
  font-size: 120%;
  font-family: sans-serif;
}

#store .entry img {
  width: 80px;
  margin-right: 5px;
  margin-bottom: 5px;
  float: left;
}


#store .entry h3 {
 margin-top: 0;
 margin-bottom: 2px;
 color: #227;
}

#store .entry p {
 margin-top: 0.5em; 
 margin-bottom: 0.8em; 
}

#store .entry .price_line {
 clear: both;
 margin-bottom: 0.5em;
}

#store .entry .add_to_cart {
  position: relative;
}

#store .entry  .price {
  color: #44a;
  font-weight: bold;
  margin-right: 2em;
}

/* START:inline */
#store .entry form, #store .entry form div {
  display: inline;
}
/* END:inline */

/* START:cartmain */
/* Styles for the cart in the main page */

#store .cart_title {
  font: 120% bold;
}

#store .item_price, #store .total_line {
  text-align: right;
}

#store .total_line .total_cell {
  font-weight: bold;
  border-top: 1px solid #595;
}
/* END:cartmain */

/* START:cartside */
/* Styles for the cart in the sidebar */

#cart, #cart table {
  font-size: smaller;
  color:     black;
}

#cart table {
  border-top:    1px dotted #595;
  border-bottom: 1px dotted #595;
  margin-bottom: 10px;
}
/* END:cartside */

/* START:form */
/* Styles for order form */

.depot_form fieldset {
  background: #efe;
}

.depot_form legend {
  color: #dfd;
  background: #141;
  font-family: sans-serif;
  padding: 0.2em 1em;
}

.depot_form label {
  width: 5em;
  float: left;
  text-align: right;
  padding-top: 0.2em;
  margin-right: 0.1em;
  display: block;
}

.depot_form select, .depot_form textarea, .depot_form input {
  margin-left: 0.5em;
}

.depot_form .submit {
  margin-left: 4em;
}

.depot_form div {
  margin: 0.5em 0;
}
/* END:form */

#locale {
	float:right;
	padding-top: 0.2em;
	font: small-caps 10px/10px "Times New Roman",serif
}

.customer_logout{
	float:right;
	padding-top: 0.1em;
}
/*
 * be used in product.show.html.erb
 */
#content_product_rt {
	float: right;
	margin: 0;
	padding: 14px 22px 22px 0px;
	width: 75%;
}

#actions {
	float: right;
	margin: 0 0 10px 0;
	padding: 0px 0 10px 15px;
	width: 330px;
}

.buybuttonswidget .button_set div.shopping_cart_button_line:last-child  {border-bottom:1px solid #ccc;}

.buybuttonswidget.yellow h1, .buybuttonswidget.yellow .header {
font-weight:normal;
font-family:helvetica,sans-serif;
padding: 5px 0 15px 15px;
background: url(/images/yellow-box-top.png) top left no-repeat;
}

.buybuttonswidget.gray h1, .buybuttonswidget.gray .header {
font-weight:normal;
font-family:helvetica,sans-serif;
font-size: 17px;
padding: 5px 0 5px 15px;
background: #fff;
-moz-border-radius: 5px 5px 0 0; 
-webkit-border-radius: 5px 5px 0 0; 
border-radius: 5px 5px 0 0; 
}

.buybuttonswidget.yellow .oreilly_buy_buttons, .buybuttonswidget.yellow .oreilly_rough_cuts {
border:none; 
padding: 0;
width:320px;
background: url(/images/yellow-box-bot.png) bottom left no-repeat;
}

.buybuttonswidget.gray .oreilly_buy_buttons, .buybuttonswidget.gray .em-option {
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
}

.buybuttonswidget.yellow .button_set {
padding: 0 5px 5px;
border-bottom: 1px solid #CCC;
}

.buybuttonswidget.yellow .oreilly_rough_cuts .button_set {
padding: 0 0 15px 15px;
}

.buybuttonswidget.gray .oreilly_rough_cuts .button_set {
padding-bottom: 6px;
}

.buybuttonswidget.yellow .button_set {
padding: 0 5px 5px;
}

.buybuttonswidget.yellow .oreilly_rough_cuts .button_set {
padding: 0 0 15px 15px;
}

.buybuttonswidget.gray .oreilly_rough_cuts .button_set {
padding-bottom: 6px;
}


.buybuttonswidget.yellow .test-strong, .buybuttonswidget.gray .test-strong {
font-weight: bold;
}


h2#title {
	display: block;
	font-size: 20px;
	line-height: 26px;
	margin: 0;
	padding: 0;
}

h2.subtitle {
	font-size: 12px;
	font-weight: bold;
	margin: 0px;
	line-height: 16px;
}
.buttons {
	float: left;
	height: 20px;
	position: relative;
	margin: 5px 0;
}

.buttons .add_to_cart {
	position: absolute; 
	left: 107px;
	top: 0; 
	width: 82px; 
	height: 20px;
}

.buttons .add_comments {
	left: 190px;
	position: absolute;
	top: 0;
}

#description {
margin: 0 0 22px 0;
padding: 0;
clear: left;
width: 400px;
}
#short-description {
margin: 7px 0 11px 0;
padding: 0;
}

a#fulldescButton {
display: none;
}

.content-subtitle, .book-subtitle {
clear: left;
color: #333333;
font-size: 16px;
font-weight: normal;
line-height: 20px;
margin: 0 0 11px;
padding: 0;
border-bottom: 1px solid #CCC;
}

#content_product_lt {
float: left;
padding: 10px 0 0 10px;
width: 20%;
}

#cover-block {
float: left;
padding: 0;
margin: 0 0 7px 0;
position: relative;
}

ul#browsebook {
list-style-image: none;
list-style-position: outside;
list-style-type: none;
}

ul#browsebook, li.coverimage {
border: 0 none;
display: block;
margin: 0;
padding: 0;
}

#share{
float:left;
padding: 0;
margin: 0 0 7px 0;
position: relative;
text-align: center;
padding: 0;
clear: both;
}

/*
 * be used in _comment.html.erb
 */
#comment{
   border-bottom: 1px solid #CCC;
   margin-bottom: 1em;
}
